@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  background-color: black;
  height: 100%;
  color-scheme: dark;
}

.VolumeSlider {
  --track-height: 0.25rem;
  --thumb-height: 0.75rem;
}

.VolumeSlider::-webkit-slider-runnable-track {
  background: #4d4d4d;
  height: var(--track-height);
  border-width: 0;
  border-radius: 4px;
}

.VolumeSlider::-webkit-slider-thumb {
  appearance: none;
  margin-top: calc(0.5 * (var(--track-height) - var(--thumb-height)));
  height: var(--thumb-height);
  width: var(--thumb-height);
  background-color: white;
  border-width: 0;
  border-radius: 100%;
  visibility: hidden;
}

.VolumeSlider:hover::-webkit-slider-thumb {
  visibility: visible;
}
